<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <%- include("../includes/styles.ejs") %>
  </head>
  <body>
    <div class="add-note__wrapper">
      <header class="main-header">
        <navbar class="main-header__navbar">
          <ul class="main-header__items">
            <li class="main-header__item">
              <a
                class="main-header__item-link"
                href="/secure/add-note/<%= token %>"
                >Add Note</a
              >
            </li>
            <li class="main-header__item">
              <a
                class="main-header__item-link"
                href="/secure/notes/<%= token %>"
                >Notes</a
              >
            </li>
            <li class="main-header__item">
              <a class="main-header__item-link" href="/secure/home/<%= token %>"
                >Home</a
              >
            </li>
            <li class="main-header__item">
              <a class="main-header__item-link" href="/login">Logout</a>
            </li>
          </ul>
        </navbar>
      </header>
      <div class="add-note__form-wrapper">
        <form
          class="add-note__form"
          action="/secure/add-note/<%= token %>"
          method="POST"
        >
          <input
            type="text"
            class="add-note__name"
            placeholder="Title"
            spellcheck="true"
            required
            name="title"
          />
          <input
            spellcheck="true"
            type="text"
            placeholder="Subject"
            required
            class="add-note__subject"
            name="subject"
          />
          <input
            spellcheck="true"
            type="url"
            placeholder="Note Image (URL)"
            class="add-note__img"
            name="imgUrl"
          />
          <textarea
            spellcheck="true"
            placeholder="Note"
            required
            class="add-note__note"
            name="note"
          ></textarea>
          <button
            type="submit"
            type="button"
            class="btn btn-info add-note__submit"
          >
            Add Note
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
